main {
    font-size: 150%;
}
br {
    display: block;
    margin: 10px 0;
}
a{
    color: var(--pu-color-yellow);
}
tp {
    color: var(--pu-color-bg-dark);
}
rt {
    font-size: 45%;
}
red {
    color: pink;
}
orn {
    color: sandybrown;
}
yel {
    color: var(--pu-color-yellow);
}
grn {
    color: lightgreen;
}
blu {
    color: lightskyblue;
}
ind {
    color: mediumslateblue;
}
pur {
    color: violet;
}